<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            background: silver;
        }
        img{
            width:110px;
            border-radius: 5px;
        }
        p2{
            font-size: 12px;
        }
        h3{
            font-size: 16px;
        }
        h4{
            font-size: 12px;
        }
    </style>
    
</head>
<body>
    <img class="Profile_photo" src="static/photo.jpg" alt="Supriya Bandal's Profile photo"/>

    <h4>Supriya Bandal</h4>
    <p1> Lecturer, University of Nevada, Reno</p1>
    <h3>Education</h3>
    <p2>&nbsp&nbsp&nbsp&nbsp•	University of Nevada, Reno<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp Projected Graduation: Spring 2022<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp PhD, Computer Science and Engineering
    </p2>
    <h3>Relevant Coursework</h3>
    <p2>&nbsp&nbsp&nbsp&nbsp•	CS 113: Nonexistent CS course.<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp This is where the description would go if this were a real course.
    </p2>
    <h3>Work Experience</h3>
    <p2>&nbsp&nbsp&nbsp&nbsp•	Lecturer, UNR CSE Department January 2022-present<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp This is where the description would go if this were a real course.<br>
        <br>
        None is fine here, if you don't have any experince.
    </p2>

    <h3>Research</h3>
    <p2>&nbsp&nbsp&nbsp&nbsp•	Identifying prominent features in exagerrated imagery.<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp This is where a description would go.<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp This is where a any associated papers would go.<br>
        <br>
        None is fine here, if you don't do research.
    </p2>
    <h3>Awards and Honors</h3>
    <p2>&nbsp&nbsp&nbsp&nbsp•	Top 10 % NCL Indivisual challenge 2012x, 2020, 2021<br>
        &nbsp&nbsp&nbsp&nbsp•	Intel SWE Graduate student Scholorshi: amount awarded<br>
    </p2>
    <h3>NOTES For Students</h3>
    <p2>Theas are the basic required hearders. You may add additional info.
    </p2>
</body>
</html>